[build-system]
build-backend = "poetry.core.masonry.api"
requires = ["poetry-core>=1.0.0"]

[tool.isort]
known_first_party = ["core", "api"]
profile = "black"

[tool.poetry]
authors = ["The Palace Project <info@thepalaceproject.org>"]
description = "The Palace Project Manager Application"
homepage = "https://thepalaceproject.org"
license = "Apache-2.0"
name = "Palace Manager"
readme = "README.md"
repository = "https://github.com/ThePalaceProject/circulation"
version = "0" # Version number is managed with tags in git

[tool.poetry.dependencies]
alabaster = { version = "0.7.12", optional = true }
aws-xray-sdk = "~2.8"
boto3 = "~1.18"
botocore = "~1.21"
certifi = "*"
click = "7.1.2"
contextlib2 = "21.6.0"
docutils = { version = "0.16", optional = true }
elasticsearch = "~6.8"
elasticsearch-dsl = "6.4.0"
expiringdict = "1.2.1"
feedparser = "6.0.2"
Flask = "~1.1.2"
Flask-Babel = "1.0.0"
Flask-Cors = "3.0.10"
flask-sqlalchemy-session = "1.1"
fuzzywuzzy = "0.18.0"  # fuzzywuzzy is for author name manipulations
html-sanitizer = "~1.9.1"
isbnlib = "3.10.3"
loggly-python-handler = "1.0.1"  # NYPL requirement, can possibly be removed.
lxml = "4.7.1"
mock = { version = "~4.0", python = "< 3.8" }
money = "1.3.0"
multipledispatch = "0.6.0"
nameparser = "1.0.6"  # nameparser is for author name manipulations
nltk = "3.6.5"  # nltk is a textblob dependency.
oauth2client = "4.1.3"  # Deprecated and should be replaced.
palace-webpub-manifest-parser = "~2.0.3"
Pillow = "8.4.0"
psycopg2 = { version = "~2.9.3", optional = true }
psycopg2-binary = { version = "~2.9.3", optional = true }
py-bcrypt = "0.4"
pycryptodome = "3.9.8"
Pygments = { version = "2.7.4", optional = true }
pyinstrument = "< 4.2"
PyJWT = "1.4.2"
PyLD = "1.0.5"
pymarc = "4.0.0"
pyOpenSSL = "19.1.0"
pyparsing = "2.4.7"
pypostalcode = "0.3.6"
pyspellchecker = "0.5.5"
pytest = "^6"  # Can't be made a dev dep because mocks included beside prod code.
python = ">=3.6.1,<4"
python-dateutil = "2.8.2"
python-Levenshtein = "~0.12"
python3-saml = "1.12.0"  # python-saml is required for SAML authentication
pytz = "2021.3"
requests = "~2.27"
Sphinx = { version = "1.8.5", optional = true }  # Sphinx is for code documentation
sphinxcontrib-websupport = { version = "1.2.4", optional = true }
SQLAlchemy = "~1.3.19"
textblob = "0.15.3"
typing-extensions = { version = "~4.0", python = "< 3.8" }
unicodecsv = "0.14.1" # this is used, but can probably be removed on py3
uritemplate = "3.0.1"
urllib3 = "~1.26.5"
uszipcode = "0.2.4"
uWSGI = "~2.0.19"
watchtower = "0.8.0"  # watchtower is for Cloudwatch logging integration
wcag-contrast-ratio = "0.9"
Werkzeug = "1.0.1"

[tool.poetry.dev-dependencies]
freezegun = "~1.1"
Jinja2 = "2.11.3"
parameterized = "0.7.4"
pre-commit = "~2.16"
pyfakefs = "3.7"
pytest-timeout = "*"
requests-mock = "1.8.0"

[tool.poetry.extras]
docs = ["alabaster", "docutils", "Pygments", "Sphinx", "sphinxcontrib-websupport"]
pg = ["psycopg2"]
pg-binary = ["psycopg2-binary"]

[tool.pytest.ini_options]
timeout = "600"
timeout_method = "thread"
