<!DOCTYPE HTML>
<html lang="en">
{{ head_html }}
<body style="{{ body_style }}">
<p>{{ message }}</p>
<hr style="{{ hr }}">
<a href="{{ redirect_link }}" style="{{ link }}">{{ button_text }}</a>
</body>
</html>
