Hello,

You are receiving this email because you requested a password reset for your account at the {{ app_name }}.

To reset your password paste the following link in your browser's address bar: {{ reset_password_url }}

If you have not requested a password reset please contact someone from The Palace Project team.

Thank you,
The Palace Project team
