version: "3.9"

# This docker-compose file is used to run the old webapp for testing purposes
# see test_migrations.sh for more information.

services:
  webapp-old:
    image: "ghcr.io/thepalaceproject/circ-webapp:sha-54fa9ef"

    environment:
      SIMPLIFIED_PRODUCTION_DATABASE: "postgresql://palace:test@pg:5432/circ"
      PALACE_SEARCH_URL: "http://os:9200"

    depends_on:
      pg:
        condition: service_healthy
      os:
        condition: service_healthy
