<form action="%(forgot_password_url)s" method="post">
<input type="hidden" name="redirect" value="%(redirect)s"/>
<label style="{label}">Email <input type="email" name="email" style="{input}" required/></label>
<button type="submit" style="{button}">Send reset password email</button>
</form>
