<form action="{{ forgot_password_url }}" method="post">
  <input type="hidden" name="redirect" value="{{ redirect }}"/>
  <label style="{{ label_style }}">
    Email
    <input type="email" name="email" style="{{ input_style }}" required/>
  </label>
  <button type="submit" style="{{ button_style }}">Send reset password email</button>
</form>
