<form action="%(reset_password_url)s" method="post">
<input type="hidden" name="redirect" value="%(redirect)s"/>
<label style="{label}">New Password <input type="password" name="password" style="{input}" required/></label>
<label style="{label}">Confirm New Password <input type="password" name="confirm_password" style="{input}" required/></label>
<button type="submit" style="{button}">Submit</button>
</form>
