<form action="{{ reset_password_url }}" method="post">
<input type="hidden" name="redirect" value="{{ redirect }}"/>
<label style="{{ label_style }}">New Password <input type="password" name="password" style="{{ input_style }}" required/></label>
<label style="{{ label_style }}">Confirm New Password <input type="password" name="confirm_password" style="{{ input_style }}" required/></label>
<button type="submit" style="{{ button_style }}">Submit</button>
</form>
