name: Build Base Image
on:
  push:
    paths:
      # We only want to build this image when the dockerfile or ci scripts change.
      - '.github/workflows/build-base-image.yml'
      - 'docker/Dockerfile.baseimage'
    branches:
      # All branches, but not tags
      - '*'
  schedule:
    # Every Monday at 6:22am Eastern Time
    - cron: '22 10 * * 1'
  workflow_dispatch:
    # Allow us to manually trigger build

concurrency:
  # This concurrency group is used to prevent multiple builds from running at the same time.
  group: build-base-${{ github.ref_name }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  docker-build-baseimage:
    name: Build Base Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false

      # See comment here: https://github.com/actions/runner-images/issues/1187#issuecomment-686735760
      - name: Disable network offload
        run: sudo ethtool -K eth0 tx off rx off

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate tags for image
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository_owner }}/circ-baseimage
          # Only tag the image as latest if the event is a push to main, manually dispatched or a scheduled build
          tags: |
            type=schedule,pattern={{date 'YYYYww'}}
            type=ref,event=branch
            ${{ (github.event_name == 'schedule') && 'type=raw,value=latest' || '' }}
            ${{ (github.event_name == 'workflow_dispatch') && 'type=raw,value=latest' || '' }}
            ${{ (github.event_name == 'push' && github.ref_name == 'main') && 'type=raw,value=latest' || '' }}

      - name: Build base image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile.baseimage
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: true
          target: baseimage
          # If we are not doing a scheduled build, use the latest image as a cache to speed up the build
          cache-from: |
            ${{ (github.event_name != 'schedule') && format('type=registry,ref=ghcr.io/{0}/circ-baseimage:latest', github.repository_owner) || '' }}
          cache-to: type=inline
          platforms: linux/amd64, linux/arm64
