name: Test
on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: test-${{ github.ref_name }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  test:
    name: Tests (Py ${{ matrix.python-version }})
    runs-on: ubuntu-latest
    timeout-minutes: 60
    permissions:
      contents: read
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12"]

    steps:
      - uses: actions/checkout@v5

      # See comment here: https://github.com/actions/runner-images/issues/1187#issuecomment-686735760
      - name: Disable network offload
        run: sudo ethtool -K eth0 tx off rx off

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: ./.github/actions/poetry
        with:
          cache: true

      - name: Install Tox
        run: |
          poetry install --only ci --no-root
        env:
          POETRY_VIRTUALENVS_CREATE: false

      - name: Run Tests
        run: tox

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          name: test-${{ matrix.python-version }}
          verbose: true
